
<% action_url = action == :new ? cats_url : cat_url(c) %>

<form action= <%= action_url %> method="POST">
    <% if action == :edit %>
        <input type="hidden" name="_method" value="PATCH">
    <% end %>
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="cat[name]" value=  <%= c ? c.name : ""%>>
    </div>

    <br>

    <div>
        <label for="birth_date">Birth_date</label>
        <input type="date" id="birth_date" name="cat[birth_date]" value=  <%= c ? c.birth_date : ""%>>
    </div>
    
    <br>

    <div>
        <label for="male">Male</label>
        <input type="radio" id="male" name="cat[sex]" value="m" <%= 'checked' if c && c.sex == 'm' %>>
    
        <label for="female">Female</label>
        <input type="radio" id="female" name="cat[sex]" value="f" <%= 'checked' if c && c.sex == 'f' %>>     
    </div>

    <br>

    <div>
        <label for="color">Color</label>
        <select name="cat[color]" id="color">
            <option selected disabled>--Select a color--</option>
            <% Cat::COLORS.each do |color| %>
            <option value= <%= color %> <%= 'selected' if c && c.color == color %>><%= color.capitalize %></option>
            <% end %>
        </select>
    </div>

    <br>

    <div>
        <textarea name="cat[description]" id="description" cols="30" rows="10"><%=
           c.description if c && c.description
        %></textarea>
    </div>

    <br>
    <br>

    <input type="submit" value="Submit" >
</form>